html {
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    background-color: #8d9a9b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(/prov-flex/img/bell.jpeg);
    max-width: max-content;
    max-height: max-content;
    color: whitesmoke;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: brown;
    height: 10vh;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #8d9a9b;
}

.center {
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
    width: 50%;
    min-height: 60vh;
    background-color: #8baaa7;
}

.side {
    padding: 20px;
    border-radius: 10px;
    margin: 1%;
    width: 25%;
    min-height: 60vh;
    background-color: #cccccc;
}
@media (max-width: 36em) {
    main {
        display: flex;
        flex-direction: column;
    }
    .center {flex-wrap: wrap; width: 100%;}
    .side {flex-wrap: wrap; width: 100%;}
}

footer {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 10vh;

}